---
layout: base
title: The Programming Historian
---

<div class="container index-boxes">
  <div class="row">
    <div class=".col-md-4 col-xs-12 index-box" id="en-index-box">
      {% include landing-page-block.html lang="en" %}
    </div>

    <div class=".col-md-4 col-xs-12 index-box" id="es-index-box">
       {% include landing-page-block.html lang="es" %}
    </div>

    <div class=".col-md-4 col-xs-12 index-box" id="fr-index-box">
       {% include landing-page-block.html lang="fr" %}
    </div>
  </div>
</div>
