{% comment %}
 Paste together lists of authors for a given page/lesson. This is used on the lesson.html pages as well as on lesson-index.html and for post.html (describing blog posts) 
{% endcomment %}

{% if page.authors %}
  {% assign authors = page.authors %}
{% elsif lesson.authors %}
  {% assign authors = lesson.authors %}
{% endif %}

{% assign authorCount = authors | size %}
{% capture authorString %}
{% if authorCount == 1 %}
  {{ authors[0] }}
{% elsif authorCount == 2 %}
    {{ authors[0] }} and {{ authors[1] }}
{% else %}
  {% for author in authors %}
    {% if forloop.last %} {{ site.data.snippets.and[page.lang] }} {{ author }}
    {% else %}{{ author }},{% endif %}
  {% endfor %}
{% endif %}
{% endcapture %}

{{ authorString }}
