{% comment %}
 Paste together lists of authors for a given page/lesson. This is used on the lesson.html pages as well as on lesson-index.html and for post.html (describing blog posts)
{% endcomment %}

{% if page.authors %}
  {% assign authors = page.authors %}
{% elsif lesson.authors %}
  {% assign authors = lesson.authors %}
{% endif %}

{% if include.orcid == true %}{% for author_name in authors %}{% assign author = site.data.ph_authors | where: "name", author_name | first %}{% if forloop.length > 2 and forloop.index0 > 0 %}, {% endif %}{% if forloop.last and forloop.length > 1 %} {{ site.data.snippets.and[page.lang] }} {% endif %}{{ author.name }}{% if author.orcid %} {% include orcid.html author=author %} {% endif %}{% endfor %}{% else %}{{ authors | array_to_sentence_string: site.data.snippets.and[page.lang] }}{% endif %}