
          <div class="citation-info">
            {% if page.lang == 'en' %}
                <p class="citation-head">Suggested Citation</p>
            {% endif %}
            {% if page.lang == 'es' %}
                <p class="citation-head">Sugerencia para citar</p>
            {% endif %}
            <div class="suggested-citation">
              <p>
              {{ authorString }}, 
              "{{ page.title }}," 
              <em>{{ site.name }}</em>, 
              ({{ page.date | date: "%Y-%m-%d" }}), 
              {{ site.url }}{{ page.url }}
              </p>
            </div>
          </div>
