{% comment %}
Loops through all reviewer, translator, and translation editor data to create an acknowledgement sentence. This is used both on project-team.md as well as es/equipo-de-proyecto.md
{% endcomment %}

{% assign alllessons = site.pages | where: "lesson" , "true" %}

{% assign reviewers = alllessons | map: "reviewers" %}
{% assign editors = alllessons | map: "editors" %}
{% assign translators = alllessons | map: "translator" %}
{% assign translation_editors = alllessons | map: "translation-editors" %}
{% assign translation_reviewers = alllessons | map: "translation-reviewer" %}

{% assign allpersons = reviewers | concat: editors | concat: translators | concat: translation_editors | concat: translation_reviewers %}

{% assign contributors = allpersons | compact | uniq %}

{{ contributors | join: ", " }},