<div class="theme-switch-wrapper">
  <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
  <em>Enable Dark Mode!</em>
</div>

<script>
function setTheme(currentTheme) {
    document.documentElement.setAttribute('data-theme', currentTheme);
    sessionStorage.setItem('theme', currentTheme);
}

const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');


let theme = sessionStorage.getItem('theme') === null ?'day' : sessionStorage.getItem('theme');

if (theme === 'night') {
    toggleSwitch.checked = true;
} 

setTheme(theme);

function switchTheme(e) {
    theme = e.target.checked? 'night': 'day';
    setTheme(theme);
}

toggleSwitch.addEventListener('change', switchTheme, false);

</script>