<div class="theme-switch-wrapper">
  <label class="theme-switch" for="checkbox">
    <input type="checkbox" id="checkbox" />
    <div class="slider round"></div>
  </label>
  <em>Enable Dark Mode!</em>
</div>

<script>
function updateLinks(currentTheme) {
    setTimeout(function() {
        var nonLessonLinks = Array.prototype.slice.call(document.querySelectorAll("[href]:not(.content)"));
        var lessonLinks =
        Array.prototype.slice.call(document.getElementsByClassName('content')[0].querySelectorAll("[href]"));
        lessonLinks = lessonLinks.filter(link => {
            console.log(link, link.href, ['en', 'es', 'fr', 'pt'].some(substring=> link.href.includes(substring)), link.href.includes('#'));
            if (!link.href.includes('#')){
                
                return ['en', 'es', 'fr', 'pt'].some(substring=> link.href.includes(substring))
            }
        });
        [...nonLessonLinks, ...lessonLinks].forEach(link => {
            // console.log(link.href);
            if (link.href.startsWith("/") || link.href.startsWith(".") || (link.href.startsWith("http") &&
            link.href.includes(window.location.hostname))) {
                console.log(link.href.split('?theme=')[0]);
                // link.href = link.href.split('?theme=')[0] + '?theme=' + currentTheme;
                // console.log(link.href);
            }
        });
    }, 500);
}

function setTheme(currentTheme) {
    console.log(currentTheme);
    document.documentElement.setAttribute('data-theme', currentTheme);
    searchParams.set('theme', currentTheme);
    var newRelativePathQuery = window.location.pathname + '?' + searchParams.toString();
    history.pushState(null, '', newRelativePathQuery);
    // updateLinks(currentTheme);
}

const toggleSwitch = document.querySelector('.theme-switch input[type="checkbox"]');


let theme = searchParams.get('theme') === null ?'day' : searchParams.get('theme');

if (theme === 'night') {
    toggleSwitch.checked = true;
} 

setTheme(theme);

function switchTheme(e) {
    theme = e.target.checked? 'night': 'day';
    setTheme(theme);
}

toggleSwitch.addEventListener('change', switchTheme, false);

</script>