{% comment %}
 Generate contact info for editorial team members. Used on project-team.md and es/equipo-de-proyecto.md
{% endcomment %}

{% assign author = include.name %}

{% comment %}
 For the provided author name, locate the appropriate entry in ph_authors.yml, and then extract necessary bio and contact information.
{% endcomment %}
{% for member in site.data.ph_authors %}
{% if author == member.name %}
<div class="row contact-box">
{% comment %}
 Generate avatar image path based on name
{% endcomment %}
{% assign avatar = member.name | slugify: "latin" %}
<div class="col-3">
  <img class="rounded-circle" src="{{site.baseurl}}/avatars/{{avatar}}.png" alt="{{ member.name }}">
</div>

<div class="col-9">
<p>{{ member.name}}: {{ member.affiliation[page.lang] }}</p>

{% comment %}
List subteams within the larger editorial team
{% endcomment %}
<p>

{% if member.status %}
{% assign status_label = (site.data.teamroles | where: "type", member.status) | first %}
<span class="badge badge-success" data-toggle="tooltip" data-placement="bottom" title = "{{ status_label.definition[page.lang] }}">{{ status_label.label[page.lang] }}</span>
{% endif %}
	
{% for role in member.team_roles %}
{% assign role_label = (site.data.teamroles | where: "type", role) | first %}
{% assign role_definition = role_label.definition %}
<span class="badge badge-primary" data-toggle="tooltip" data-placement="bottom" title = "{{ role_definition[page.lang] }}">{{ role_label.label[page.lang] }}</span>
{% endfor %}
</p>

{% comment %}
 List contact info
{% endcomment %}
<p>
	{% if member.url %}
		<a href="{{member.url}}"><i class="fa fa-home fa-lg"></i><span class="visually-hidden">{{ member.url }}</span></a>
	{% endif %}
	{% if member.email %}
		<a href="mailto:{{member.email}}"><i class="fa fa-envelope-square fa-lg" ></i><span class="visually-hidden">{{ member.email }}</span></a>
	{% endif %}
	{% if member.twitter %}
		<a href="http://twitter.com/{{member.twitter}}"><i class="fab fa-twitter-square fa-lg"></i><span class="visually-hidden">{{ member.twitter }}</span></a>
	{% endif %}
	{% if member.github %}
		<a href="http://github.com/{{member.github}}"><i class="fab fa-github-square fa-lg"></i><span class="visually-hidden">{{ member.github }}</span></a>
	{% endif %}
	{% if member.orcid %}
		{% include orcid.html author=member %}
	{% endif %}
</p>
{% endif %}
{% endfor %}
</div>
</div>
