<div class="card {{ include.lang }}-back m-2">
  <div class="row home-logo align-middle">
    <div class="col-md-3">
    <a href="/{{ include.lang }}"><img class="mx-auto d-block align-middle" src="images/logos/ph-{{ include.lang }}.svg" alt="{{ site.data.snippets.journal-title[include.lang] }} logo"></a>
    </div>
    <div class="col-md-9 align-middle p-3">
      <a href="/{{ include.lang }}"><h1>{{ site.data.snippets.journal-title[include.lang] }}</h1></a>
      <hr>
      <ul class="nav nav-justified">
        <li class="nav-item">{{ site.pages | where: "lesson", "true" |  where: "lang", include.lang | size }} {{ site.data.snippets.lesson[include.lang] }}</li>
        <li class="nav-item">ISSN: {{ site.data.snippets.issn[include.lang] }}</li>
      </ul>
    </div>
  </div>
</div>