<img src="{{ site.data.snippets.logo.plain[include.lang] }}" class="logo" />
<p>{{ site.data.snippets.language-version[include.lang]}}<p>
{% assign lang_count = site.pages | where: "lesson", "true" | where: "lang", include.lang | size %}
<p>{{ lang_count }} {{ site.data.snippets.peer-reviewed-lessons[include.lang]}}</p>
<p>ISSN: {{ site.data.snippets.issn[include.lang] }}</p>
<hr />
<a href="{{ site.data.snippets.menu-home[include.lang] }}"><p>{{ site.data.snippets.start-learning[include.lang] }}</p></a>
