{% comment %}
 Core code for generating filterable lesson indexes on lessons.md and es/lecciones.md. This will repeatedly call lesson_describe.html in which individual lessons have their metadata formatted for display.
{% endcomment %}

<ul class="filter activities">
  {% for activity in site.data.activities %}
  {% assign atype = activity.type %}
  <li id="filter-{{ atype }}" class="filter">{{ activity[page.lang]}} ({{ alllessons | where:"activity",atype | size }})</li>
  {% endfor %}
</ul>

<ul class="filter topics">
{% for topic in site.data.topics %}
{% assign type = topic.type %}
{% assign count = alllessons | where:"topics",type | size }} %}
  {% if count > 0 %}
  <li id="filter-{{ topic.type }}" class="filter">{{ topic.displayname[page.lang] }} ({{count}})</li>
  {% endif %}
{% endfor %}
</ul>

<div id="filter-none">{{site.data.snippets.reset-button[page.lang]}} ({{  alllessons | size  }})</div>

<!-- this div ('lesson-list', referenced in lessonfilter.js) needs to contain the sort button/elements AND the actual list for the sort buttons to work -->
<div id="lesson-list">

  <ul class="sort-by">
    <li id="sort-by-date" class="sort asc" data-sort="date">{{site.data.snippets.sort-by-date[page.lang]}}</li>
    <li id="sort-by-difficulty" class="sort desc" data-sort="difficulty">{{site.data.snippets.sort-by-difficulty[page.lang]}}</li>
  </ul>

  <h2 class="results-title">Filtering Results: <span id="results-value">All lessons </span><span id="current-sort" class="sort-asc">{{site.data.snippets.date[page.lang]}}</span></h2>

  <ul class="list">
    {% for lesson in alllessons %}
    {% capture author_string %} {% include author.html %} {% endcapture %}
      <li>{% include lesson_describe.html authors=author_string %}</li>
    {% endfor %}
  </ul>

</div>


<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js'></script>
<script src="{{ site.baseurl }}/js/lessonfilter.js"></script>

<script>
  $(function() {
    wireButtons();
  });
</script>
