{% comment %}


This include generates the individual lesson descriptions that display on the lesson index pages (_includes/lesson-index.html)

lesson-slug.html computes the correct lesson slug, and then this include determines both the proper lesson path as well as the avatar image path


{% endcomment %}

<div class="lesson-description clearfix">
  {% if lesson.original %}
    {% assign canonical_slug = lesson.original %}
  {% else %}
    {% assign canonical_slug = lesson.url | split: "/" | last | remove_first: ".html" %}
  {% endif %}

  <div class="lesson-image">
    <a href="{{ lesson.url }}"><img class="rounded" src="/gallery/{{ canonical_slug }}.png" alt="{{ lesson.avatar_alt }}"><span class="visually-hidden">{{ lesson.title }}</span></a>
  </div>

  <h3 class="above-title">{{ include.authors }}</h3>
  <a href="{{ lesson.url }}"><h2 class="title">{{ lesson.title }}</h2></a>

  <p class="abstract">
    {{ lesson.abstract | markdownify | remove: '<p>' | remove: '</p>'}}
  </p>

  {% comment %}
 Activity and topic are hidden via CSS as a hack to let JS sorting by activity and topic work. Note that the date sort is based on translation date first, falling back to publication date.
{% endcomment %}
  <span class="activity">{{ lesson.activity }}</span>
  <span class="topics">{{ lesson.topics | join: ' '}}</span>
  <span class="date">{% if lesson.translation_date %}{{ lesson.translation_date }}{% else %}{{ lesson.date }}{% endif %}</span>
  <span class="difficulty">{{ lesson.difficulty }}</span>
  <!-- Uncomment if you want to include lesson content for List.JS -->
  <!-- <span id="{{lesson.url}}-content" class="content"
    style="display: none;">{{ lesson.content | markdownify | strip_html }}</span> -->
  <span id="{{lesson.url}}-score" class="score"
    style="display: none;">0</span>
  <p id="{{lesson.url}}-search_results" class="search_results"
    style="display: none;"></p>
  


</div>
