
<div class="lesson-description">
  <span class="activity">{{ lesson.activity }}</span> <!-- This is hidden via CSS as a hack to let JS sorting by activity work -->

  <div class="lesson-image">
    <a href="{{ site.baseurl }}/lessons/{{ lesson.slug }}"><img class="rounded" src="{{ site.baseurl }}/gallery/{{ lesson.slug }}.png"></a>
  </div>

  <h3 class="lesson-index-author">{{ lesson.authors }}</h3>
  <a href="{{ site.baseurl }}/lessons/{{ lesson.slug }}"><h2 class="lesson-index-title">{{ lesson.title }}</h2></a>

  <p class="abstract">{{ lesson.abstract }}</p>
<!--
  <a href="{{ site.baseurl }}/lessons/{{ lesson.slug }}" class="btn btn-primary">Read Lesson</a>
-->
</div>
