        <div class="additional">
          <ul id="menu-main-menu" class="additional">
            <li class="menu-item"><a href="/">About</a></li>
            <li class="menu-item"><a href="/lessons">Lessons</a></li>
            <li class="menu-item"><a href="/contribute">Contribute</a></li>
            <li class="menu-item"><a href="/project-team">Project Team</a></li>
            <li class="menu-item"><a href="/research">Research</a></li>
            <li class="menu-item"><a href="/blog">Blog</a></li>
          </ul>
        </div>
