{% comment %}

Add machine-readable publication metadata for each page that allows lessons to be processed by e.g. Zotero

{% endcomment %}

<meta name="citation_title" content="{{ page.title }}" />
{% for author in page.authors %}
<meta name="citation_author" content="{{ author }}" />
{% endfor %}
<meta name="citation_publication_date" content="{{ page.date }}" />
<meta name="citation_journal_title" content="{{ site.name }}" />
<meta name="citation_public_url" content="{{ site.liveurl }}{{ page.url }}" />
