
{% comment %}
Loops through members of editorial team and then generates their contact info using the contact-info.html include. This is used both on project-team.md as well as es/equipo-de-proyecto.md
{% endcomment %}

<!-- Activate the Bootstrap tooltip javascript manually so definitions will display -->
<script>$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script>


<h3>Programming Historian in English</h3> 
{% assign englishmembers = site.data.ph_authors | sort: "sortname" %}
{% for member in englishmembers %}
  {% for role in member.team_roles %}
    {% if role == "editorial" %}
      {% if member.team == true %}
        {% capture membername %}{{ member.name }}{% endcapture %}
        {% include contact-info.html name=membername %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

<h3>Programming Historian en espa&ntilde;ol</h3> 
{% assign spanishmembers = site.data.ph_authors | sort: "sortname" %}
{% for member in spanishmembers %}
  {% for role in member.team_roles %}
    {% if role == "spanish" %}
      {% if member.team == true %}
        {% capture membername %}{{ member.name }}{% endcapture %}
        {% include contact-info.html name=membername %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

<h3>Programming Historian en fran&ccedil;ais</h3> 
{% assign frenchmembers = site.data.ph_authors | sort: "sortname" %}
{% for member in frenchmembers %}
  {% for role in member.team_roles %}
    {% if role == "french" %}
      {% if member.team == true %}
        {% capture membername %}{{ member.name }}{% endcapture %}
        {% include contact-info.html name=membername %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}

<h3>ProgHist Ltd</h3> 
{% assign proghistmembers = site.data.ph_authors | sort: "sortname" %}
{% for member in proghistmembers %}
  {% for role in member.team_roles %}
    {% if role == "proghist" %}
      {% if member.team == true %}
        {% capture membername %}{{ member.name }}{% endcapture %}
        {% include contact-info.html name=membername %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endfor %}


<h3>{{ site.data.snippets.project-team-roles[page.lang] }}</h3>
<ul>
{% for team in site.data.teamroles %}
  {% if team.definition %}
  <li><strong>{{ team.label[page.lang] }}</strong>: {{ team.definition[page.lang] }}</li>
  {% endif %}
{% endfor %}
</ul>
