{% comment %}
Loops through members of editorial team and then generates their contact info using the contact-info.html include. This is used both on project-team.md as well as es/equipo-de-proyecto.md
{% endcomment %}

<!-- Activate the Bootstrap tooltip javascript manually so definitions will display -->
<script>$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})</script>

{% assign teammembers = site.data.authors | sort: "sortname" %}
{% for member in teammembers %}
  {% if member.team == true %}
    {% capture membername %}{{ member.name }}{% endcapture %}
    {% include contact-info.html name=membername %}
  {% endif %}
{% endfor %}

<ul>
{% for team in site.data.teamroles %}
  {% if team.definition %}
  <li>{{ team.label[page.lang] }}: {{ team.definition[page.lang] }}</li>
  {% endif %}
{% endfor %}
</ul>
