
{% assign reviewers = page.reviewers | join: "," %}
{% assign editors = page.editors | join: "," %}
{% capture bothString %}{{ reviewers }},{{ editors }}{% endcapture %}
{% assign allReviewers = bothString | split: "," | where_exp: "item", "item != ''"%}
{% assign reviewerCount = allReviewers | size %}
{% capture reviewerString %}
{% if reviewerCount == 0 %}
      <!-- No reviewers -->
      <br/><br/>
{% else %}
  {{ allReviewers | array_to_sentence_string: site.data.snippets.and[page.lang] }}
{% endif %}
{% endcapture %}

{{ site.data.snippets.reviewed[page.lang] | capitalize }} {{ site.data.snippets.by[page.lang] }} {{ reviewerString }}
