
{% assign allReviewers = page.reviewers | concat: page.editors %}
{% assign reviewerCount = allReviewers | size %}
{% capture reviewerString %}
{% if reviewerCount == 0 %}
      <!-- No reviewers -->
      <br/><br/>
{% elsif reviewerCount == 1 %}
      {{ allReviewers | first }}
{% else %}
      {% for reviewer in allReviewers %}
           {% if forloop.first %}
                 {{ reviewer }}
           {% elsif forloop.last %}
                 {{ site.data.snippets.and[page.lang] }} {{ reviewer }}
           {% else %}
		         , {{ reviewer }}
           {% endif %}
      {% endfor %}
{% endif %}
{% endcapture %}

{{ site.data.snippets.reviewed[page.lang] | capitalize }} {{ site.data.snippets.by[page.lang] }} {{ reviewerString }}
