{% assign reviewerCount = page.translation-reviewer | size %}
{% capture reviewerString %}
{% if reviewerCount == 0 %}
      <!-- No reviewers -->
      <br/><br/>
{% else %}
    {{ page.translation-reviewer | array_to_sentence_string: site.data.snippets.and[page.lang] }}
{% endif %}
{% endcapture %}

Traducido {{ site.data.snippets.by[page.lang] }} {{ page.translator }} {{ site.data.snippets.and[page.lang] }} {{ site.data.snippets.reviewed[page.lang] }} {{ site.data.snippets.by[page.lang] }} {{ reviewerString }}
