<!--https://dev.twitter.com/cards/-->

{% include page-slug.html %}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ProgHist" />
<meta name="twitter:title" content="{{ page.title }}" />

{% if page.abstract %}
    <meta name="twitter:description" content="{{ page.abstract | truncate: 197 | strip_html }}" />
{% else %}
    <meta name="twitter:description" content="{{ page.content | truncate: 197 | strip_html }}" />
{% endif %}

<meta name="twitter:image" content="{{ site.liveurl }}/gallery/{{ canonical_slug }}.png" />
