        <div class="additional">
          <ul id="menu-main-menu" class="additional">
            <li class="menu-item"><a href="/es/">Acerca de</a></li>
            <li class="menu-item"><a href="/es/lecciones">Lecciones</a></li>
            <li class="menu-item"><a href="/es/contribuciones">Contribuciones</a></li>
            <li class="menu-item"><a href="/es/equipo-de-proyecto">Equipo de proyecto</a></li>
            <li class="menu-item"><a href="/es/investigacion">Investigación</a></li>
	        <li class="menu-item"><a href="/blog">Blog</a></li>
          </ul>
        </div>
