<!DOCTYPE html>
<html>

  {% if page.url contains '/es/' %}
     {% include es/header.html %}
  {% else %}
     {% include header.html %}
  {% endif %}

  <body>

    <header role="banner">
    <h1><a href="{{ site.url }}">The Programming Historian</a></h1>

    {% if page.url contains '/es/' %}
       {% include es/menu.html %}
    {% else %}
       {% include menu.html %}
    {% endif %}

	</header>

	<div role="main">

	{{content}}

    </div>

    {% include footer.html %}

    </body>
</html>
