---
layout: blank
---

    <header>

    {% if page.deprecated %}
       <p class="deprecated"> {% include deprecated.html %} </p>
    {% endif %}
                
     <p class="kicker">{{ page.date | date: "%Y-%m-%d" }}</p>
 
     <h1><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h1>

     <p class="byline">{% include author.html %}</p>

     <ul class="credits">
         {% include reviewer.html %}
         <br/>
         {% if page.translator %}
            {% include translator.html %}
         {% endif %}
         {% if page.difficulty %}
            {% include difficulty.html %}
         {% endif %}
     </ul>
                
     </header>

     {% if page.previous %}
        {% include previous.html %}
     {% endif %}

     <div class="content">
         {{ content }}
     </div>

     {% if page.next %}
        {% include next.html %}
     {% endif %}

     {% include author-info.html %}

     {% include citation.html %}

