---
layout: base
---

{% comment %}
This is the standard template for all lessons. It builds on the base template, which includes the HTML header, the menu
bar, page content, and footer.

In addition to general formatting, this layout also contains all the logic for displaying alert messages (lessons in a
series, retired lessons, etc).

All lesson metadata and alerts should follow the convention of pulling appropriate text from the snippets.yml file.
{% endcomment %}

{% include page-slug.html %}
{% include translation-links.html %}

<header>

  <div class="container-fluid">

    <div class="container expanded">

      <div class="row">
        <div class="col-md-4">
          <div class="header-image rounded">
            <img src="{{ site.baseurl }}/gallery/{{ canonical_slug }}.png" alt="{{ page.avatar_alt }}">
          </div>
        </div>

        <div class="col-md-8">
          <div class="header-title">
            <h1><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>
          </div>

          <div class="header-author">
            <h2>{% include author.html orcid = true %}</h2>
          </div>

          <div class="header-abstract">
            {{ page.abstract | markdownify }}
          </div>

          <div class="container expanded">
            <div class="row d-flex justify-content-left">
              {% if page.reviewers or page.review-ticket %}
              <div class="peer-review mr-5">
                <p>
                  {% if page.review-ticket %}<a href="{{ page.review-ticket }}">{% endif %}
                    <i class="fas fa-user-check"></i> {{ site.data.snippets.peer-review[page.lang] }}
                    {% if page.review-ticket %}</a>{% endif %}
                </p>
              </div>
              {% endif %}
              <div class="open-license mr-5">
                <p><a href="https://creativecommons.org/licenses/by/4.0/deed.en"><i class="fas fa-lock-open"></i> CC-BY
                    4.0</a></p>
              </div>
              <div class="donate mr-5">
                <p><a
                    href="{{ site.baseurl }}{{ site.data.snippets.menu-contribute-support-donate[page.lang].link}}"><i
                      class="fas fa-credit-card"></i> {{ site.data.snippets.donate[page.lang] }}</a></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

  <div class="container-fluid header-helpers">
    <div class="container expanded">
      {% comment %}
      If the page is an original, and thus has no translator info, wrap the editor & reviewer in a smaller column
      {% endcomment %}
      {% unless page.original %}
      <div class="col-6 p-0 m-0">
        {% else %}
        <div>
          {% endunless %}
          <div class="d-flex flex-wrap flex-md-row flex-column justify-content-between">
            <div>
              <h3>{{site.data.snippets.editor[page.lang]}}</h3>
              <ul>
                {% for editor_name in page.editors %}
                {% assign editor = site.data.ph_authors | where: "name", editor_name | first %}
                <li>{{ editor_name }}{% if editor.orcid %} {% include orcid.html author = editor %}{% endif %}</li>
                {% endfor %}
              </ul>
            </div>

            <div>
              <h3>{{site.data.snippets.reviewers[page.lang]}}</h3>
              <ul>
                {% for reviewer_name in page.reviewers %}
                {% assign reviewer = site.data.ph_authors | where: "name", reviewer_name | first %}
                <li>{{ reviewer_name }}{% if reviewer.orcid %} {% include orcid.html author = reviewer %}{% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>

            {% if page.translator %}
            <div>
              <h3>{{site.data.snippets.translator[page.lang]}}</h3>
              <ul>
                {% for translator_name in page.translator %}
                {% assign translator = site.data.ph_authors | where: "name", translator_name | first %}
                <li>{{ translator_name }}{% if translator.orcid %}
                  {% include orcid.html author = translator %}{% endif %}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            {% if page.translation-editor %}
            <div>
              <h3>{{site.data.snippets.translation-editors[page.lang]}}</h3>
              <ul>
                {% for translation-editor-name in page.translation-editor %}
                {% assign translation-editor = site.data.ph_authors | where: "name", translation-editor-name | first %}
                <li>{{ translation-editor-name }}{% if translation-editor.orcid %}
                  {% include orcid.html author = translation-editor %}{% endif %}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            {% if page.translation-reviewer %}
            <div>
              <h3>{{site.data.snippets.translation-reviewers[page.lang]}}</h3>
              <ul>
                {% for translation-reviewer-name in page.translation-reviewer %}
                {% assign translation-reviewer = site.data.ph_authors | where: "name", translation-reviewer-name | first %}
                <li>{{ translation-reviewer-name }}{% if translation-reviewer.orcid %}
                  {% include orcid.html author = translation-reviewer %}{% endif %}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}

            {% if page.lesson-tester %}
            <div>
              <h3>{{site.data.snippets.lesson-testers[page.lang]}}</h3>
              <ul>
                {% for lesson-tester-name in page.lesson-tester %}
                {% assign lesson-tester = site.data.ph_authors | where: "name", lesson-tester-name | first %}
                <li>{{ lesson-tester-name }}{% if lesson-tester.orcid %}
                  {% include orcid.html author = lesson-tester %}{% endif %}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
      </div> <!-- end row -->
    </div>

    <div class="container-fluid header-bottom">
      <div class="container expanded">
        <div class="d-flex flex-wrap flex-md-row flex-column justify-content-between">
          <div class="metarow">
            <h4>{{site.data.snippets.published[page.lang]}}</h4> | {{ page.date | date:"%Y-%m-%d" }}
          </div>
          {% if page.translation_date %}
          <div class="metarow">
            <h4>{{site.data.snippets.translated-date[page.lang]}}</h4> | <span
              id="translated-date">{{ page.translation_date | date:"%Y-%m-%d" }}</span>
          </div>
          {% endif %}
          {% if page.retired %}
          <div class="metarow">
            <h4>{{site.data.snippets.retired-date[page.lang]}}</h4> | <span
              id="retired-date">{{ page.retired_date | date:"%Y-%m-%d" }}</span>
          </div>
          {% else %}
          <div class="metarow">
            <h4>{{site.data.snippets.modified[page.lang]}}</h4> | <span
              id="modified-date">{{ page.date | date:"%Y-%m-%d" }}</span>
          </div>
          {% endif %}
          {% if page.tested_date %}
          <div class="metarow">
            <h4>{{site.data.snippets.tested-date[page.lang]}}</h4> | <span
              id="tested-date">{{ page.tested_date | date:"%Y-%m-%d" }}</span>
          </div>
          {% endif %}
          <div class="metarow">
            <h4>{{site.data.snippets.difficulty[page.lang]}}</h4> | {% include difficulty.html %}
          </div>
          {% if page.doi %}
          <div class="metarow">
           <p> <img src="/images/doi_icon.jpg" alt="DOI id icon" width="16px" style="max-width:16px;display:inline;"> https://doi.org/{{ page.doi }}</p>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

</header>

<div class="container">

  {% if site.lesson_donation_alerts %}
  {% include support-alert.html %}
  {% endif %}

  {% if translation_candidates.size >0 %}

  <div class="alert alert-warning">
    <!-- Banner pointing to the original and other translations of this lesson when they exist -->
    {{ site.data.snippets.available-lesson[page.lang] }}:

    <a href="{{ translation_source.url }}"> {{ site.data.snippets.language-name-abbreviation[translation_source.lang]}}
    </a> ({{ site.data.snippets.original[translation_source.lang]}}) |

    {% for candidate in translation_candidates %}

    <a href="{{ candidate.url }}"> {{ site.data.snippets.language-name-abbreviation[candidate.lang]}} </a>
    {% unless forloop.last %} | {% endunless %}

    {% endfor %}
  </div>
  {% endif %}

  <!-- Check if lesson is part of a sequence -->
  {% if page.sequence %}
    <div class="series-warning alert alert-info">
    {{ site.data.snippets.series-note[page.lang] }} {{ page.series_total }} - {{ site.data.snippets.lesson-sequence[page.lang] }} {{ page.sequence }}  
      {% if page.previous %}
        | <a href="{{page.previous}}"> {{ site.data.snippets.previous-lesson[page.lang] }}</a>
      {% endif %}
      {% if page.next %}
        | <a href="{{page.next}}"> {{ site.data.snippets.next-lesson[page.lang] }}</a>
      {% endif %}
    </div>
  {% endif %}


  {% if page.retired %}
  <div class="alert alert-warning">
    <h2>{{ site.data.snippets.retired[page.lang] }}</h2>
    <p><em>{{ site.data.snippets.retired-meaning[page.lang] }}</em></p>
    <p>{{ site.data.snippets.retired-definition[page.lang] | markdownify }}</p>
    {% if page.retirement-reason %}
    <p><em>{{ site.data.snippets.retirement-reason[page.lang] }}</em></p>
    <p>{{ page.retirement-reason | markdownify }}</p>
    {% endif %}
  </div>
  {% endif %}

  {% if page.python_warning %}
  <div class="alert alert-warning">
    {{ site.data.snippets.python-warning[page.lang] | markdownify }}
  </div>
  {% endif %}




  <div class="content">
    {{ content }}
  </div>

 



  {% include author-info.html %}

  <div class="citation-info">
    {% assign vol_start = site.data.snippets.volume-start[page.lang] %}
    {% if page.translation_date %}
    {% assign page_year = page.translation_date | date: "%Y" %}
    {% else %}
    {% assign page_year = page.date | date: "%Y" %}
    {% endif %}
    {% assign vol_no = page_year | minus: vol_start | plus: 1 %}

    <h2 class="suggested-citation-header">{{ site.data.snippets.suggested-citation[page.lang] }}</h2>
    <div class="suggested-citation-text">
      <p class="suggested-citation-text">{% include author.html %},
        {{ site.data.snippets.title-open-quote[page.lang] }}{{ page.title | strip }}{{ site.data.snippets.title-close-quote[page.lang] }}{% if page.translator %}
        {{ site.data.snippets.translator[page.lang] }}
        {{ page.translator | array_to_sentence_string: site.data.snippets.and[page.lang] }},{% endif %}
        <em>{{ site.data.snippets.journal-title[page.lang] }}</em> {{ vol_no }} ({{ page_year }}),
        https://doi.org/{{ page.doi }}.</p>
    </div>
  </div>

  {% if site.lesson_donation_alerts %}
  {% include support-alert.html %}
  {% endif %}

</div>
</div>

<script>
  (function () {
    var githubAPI = "https://api.github.com/repos/programminghistorian/jekyll/commits";
    $.getJSON(githubAPI, {
      path: "{{page.path}}"
    })
      .done(function (data) {
        var date = new Date(data[0].commit.author.date);
        var formatted_date = new Intl.DateTimeFormat('sv').format(date)
        $("#modified-date").text(formatted_date);
      });
  })();
</script>
