---
layout: base
---

{% if page.lang == 'en' %}
  {% assign slug = page.slug %}
{% else %}
  {% assign slug = page.redirect_from  | remove_first:'/es/lessons/' %}
{% endif %}

<header>

<div class="container-fluid">

  <div class="container expanded">

    <div class="row">
      <div class="col-4">
        <div class="header-image rounded">
          <img src="{{ site.baseurl }}/gallery/{{ slug }}.png">
        </div>
      </div>

      <div class="col-8">
        <div class="header-title">
          <h1><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></h1>
        </div>

        <div class="header-author">
          <h2>{% include author.html %}</h2>
        </div>

        <div class="header-abstract">
          <p>{{ page.abstract }}</p>
        </div>

      </div>
    </div>
  </div>
</div>

{% capture editor-style %}{% if page.translator %}col-md-3{% else %}col-md-3 offset-md-4{% endif %}{% endcapture %}
{% capture reviewers-style %}{% if page.translator %}col-md-3{% else %}col-md-3{% endif %}{% endcapture %}


  <div class="container-fluid header-helpers">

    <div class="container expanded">

    <div class="row">

      <div class="{{editor-style}}">
        <h3 class="text-left">Editor</h3>
        <ul>
        {% for editor in page.editors %}
          <li>{{editor}}</li>
        {% endfor %}
        </ul>
      </div>

      <div class="{{reviewers-style}}" >
        <h3 class="text-left">Reviewers</h3>
          {% include reviewer.html %}
      </div>

      {% if page.translator %}
      <div class="col-md-3" >
        <h3 class="text-left">Translator</h3>
        {% for translator in page.translator %}
          <li>{{translator}}</li>
        {% endfor %}      </div>
      {% endif %}

      {% if page.translation-reviewer %}
      <div class="col-md-3" >
        <h3 class="text-left">Translation Reviewers</h3>
        {% for editor in page.translation-reviewer %}
          <li>{{editor}}</li>
        {% endfor %}
      </div>
      {% endif %}

    </div>
    </div> <!-- end row -->
  </div>

  <div class="container-fluid header-bottom">
    <div class="container expanded text-center">
      <div class="row">
      <div class="col-md-4 metarow text-left"><h4>published</h4> {{ page.date | date:"%Y-%m-%d" }}</div>
      <div class="col-md-4 metarow text-center"><h4>modified</h4> {{ page.date | date:"%Y-%m-%d" }}</div>
      <div class="col-md-4 metarow text-right"><h4>difficulty</h4>  {% include difficulty.html %}</div>
    </div>
    </div>
  </div>

</header>


  <div class="container">

     {% if page.deprecated %}
        <div class="deprecated"> {% include deprecated.html %} </div>
     {% endif %}

     <div class="content">
         {{ content }}
     </div>


     {% include author-info.html %}
</div>
